*.pyc

__pycache__

.project
.pydevproject
.idea
.code

venv/
docs/build/


itucsdb1840\.zip

statements\.txt

docs/output/_images/attacks_table\.png

docs/output/_images/cities_table\.png

docs/output/_images/contact\.png

docs/output/_images/E_R_diagram\.png

docs/output/_images/filters\.png

docs/output/_images/login\.png

docs/output/_images/loginHide\.png

docs/output/_images/navbar\.png

docs/output/_images/profile\.png

docs/output/_images/tgroup_table\.png

docs/output/_sources/developer/Attacks/add\.rst\.txt

docs/output/_sources/developer/Attacks/create\.rst\.txt

docs/output/_sources/developer/Attacks/delete\.rst\.txt

docs/output/_sources/developer/Attacks/index\.rst\.txt

docs/output/_sources/developer/Attacks/update\.rst\.txt

docs/output/_sources/developer/Cities/add\.rst\.txt

docs/output/_sources/developer/Cities/create\.rst\.txt

docs/output/_sources/developer/Cities/delete\.rst\.txt

docs/output/_sources/developer/Cities/index\.rst\.txt

docs/output/_sources/developer/Cities/update\.rst\.txt

docs/output/_sources/developer/csvToPyhton/index\.rst\.txt

docs/output/_sources/developer/csvToPython/index\.rst\.txt

docs/output/_sources/developer/dbinit/index\.rst\.txt

docs/output/_sources/developer/extras/index\.rst\.txt

docs/output/_sources/developer/index \(another copy\)\.rst\.txt

docs/output/_sources/developer/index \(copy\)\.rst\.txt

docs/output/_sources/developer/index\.rst\.txt

docs/output/_sources/developer/server/index\.rst\.txt

docs/output/_sources/developer/Terrorists/add\.rst\.txt

docs/output/_sources/developer/Terrorists/create\.rst\.txt

docs/output/_sources/developer/Terrorists/delete\.rst\.txt

docs/output/_sources/developer/Terrorists/index\.rst\.txt

docs/output/_sources/developer/Terrorists/update\.rst\.txt

docs/output/_sources/index\.rst\.txt

docs/output/_sources/user/Attacks\.rst\.txt

docs/output/_sources/user/Cities\.rst\.txt

docs/output/_sources/user/index\.rst\.txt

docs/output/_sources/user/Login-Signup\.rst\.txt

docs/output/_sources/user/Profile\.rst\.txt

docs/output/_sources/user/Suggestion\.rst\.txt

docs/output/_sources/user/Terrorist\.rst\.txt

docs/output/_static/ajax-loader\.gif

docs/output/_static/basic\.css

docs/output/_static/classic\.css

docs/output/_static/comment-bright\.png

docs/output/_static/comment-close\.png

docs/output/_static/comment\.png

docs/output/_static/doctools\.js

docs/output/_static/down-pressed\.png

docs/output/_static/down\.png

docs/output/_static/file\.png

docs/output/_static/jquery\.js

docs/output/_static/minus\.png

docs/output/_static/plus\.png

docs/output/_static/pygments\.css

docs/output/_static/searchtools\.js

docs/output/_static/sidebar\.js

docs/output/_static/underscore\.js

docs/output/_static/up-pressed\.png

docs/output/_static/up\.png

docs/output/_static/websupport\.js

docs/output/\.buildinfo

docs/output/\.doctrees/developer/Attacks/add\.doctree

docs/output/\.doctrees/developer/Attacks/create\.doctree

docs/output/\.doctrees/developer/Attacks/delete\.doctree

docs/output/\.doctrees/developer/Attacks/index\.doctree

docs/output/\.doctrees/developer/Attacks/update\.doctree

docs/output/\.doctrees/developer/Cities/add\.doctree

docs/output/\.doctrees/developer/Cities/create\.doctree

docs/output/\.doctrees/developer/Cities/delete\.doctree

docs/output/\.doctrees/developer/Cities/index\.doctree

docs/output/\.doctrees/developer/Cities/update\.doctree

docs/output/\.doctrees/developer/csvToPyhton/index\.doctree

docs/output/\.doctrees/developer/csvToPython/index\.doctree

docs/output/\.doctrees/developer/dbinit/index\.doctree

docs/output/\.doctrees/developer/extras/index\.doctree

docs/output/\.doctrees/developer/index \(another copy\)\.doctree

docs/output/\.doctrees/developer/index \(copy\)\.doctree

docs/output/\.doctrees/developer/index\.doctree

docs/output/\.doctrees/developer/server/index\.doctree

docs/output/\.doctrees/developer/Terrorists/add\.doctree

docs/output/\.doctrees/developer/Terrorists/create\.doctree

docs/output/\.doctrees/developer/Terrorists/delete\.doctree

docs/output/\.doctrees/developer/Terrorists/index\.doctree

docs/output/\.doctrees/developer/Terrorists/update\.doctree

docs/output/\.doctrees/environment\.pickle

docs/output/\.doctrees/index\.doctree

docs/output/\.doctrees/user/Attacks\.doctree

docs/output/\.doctrees/user/Cities\.doctree

docs/output/\.doctrees/user/index\.doctree

docs/output/\.doctrees/user/Login-Signup\.doctree

docs/output/\.doctrees/user/Profile\.doctree

docs/output/\.doctrees/user/Suggestion\.doctree

docs/output/\.doctrees/user/Terrorist\.doctree

docs/output/\.nojekyll

docs/output/developer/Attacks/add\.html

docs/output/developer/Attacks/create\.html

docs/output/developer/Attacks/delete\.html

docs/output/developer/Attacks/index\.html

docs/output/developer/Attacks/update\.html

docs/output/developer/Cities/add\.html

docs/output/developer/Cities/create\.html

docs/output/developer/Cities/delete\.html

docs/output/developer/Cities/index\.html

docs/output/developer/Cities/update\.html

docs/output/developer/csvToPython/index\.html

docs/output/developer/dbinit/index\.html

docs/output/developer/extras/index\.html

docs/output/developer/index\.html

docs/output/developer/server/index\.html

docs/output/developer/Terrorists/add\.html

docs/output/developer/Terrorists/create\.html

docs/output/developer/Terrorists/delete\.html

docs/output/developer/Terrorists/index\.html

docs/output/developer/Terrorists/update\.html

docs/output/genindex\.html

docs/output/index\.html

docs/output/objects\.inv

docs/output/search\.html

docs/output/searchindex\.js

docs/output/user/Attacks\.html

docs/output/user/Cities\.html

docs/output/user/index\.html

docs/output/user/Login-Signup\.html

docs/output/user/Profile\.html

docs/output/user/Suggestion\.html

docs/output/user/Terrorist\.html
