
{% extends "base.html" %}
{% block title %}
Terrorist Groups
{% endblock %}

{%block body%}
    <div class="container container-fluid">
    <table class="table table-striped">
        <thead>
            <tr style>
                <td>Name of the Terrorist Organization</td>
                <td>Total Number of Attacks</td>
                <td>Fatalities Caused</td>
                <td>Injuries Caused</td>
                <td>Most Common Attack Target</td>
                <td>Most Common Attack Type</td>
            </tr>
    </thead>
    {% for element in tuples %}
        <tr>
            <td>{{element[0]}}</td>
            <td>{{element[1]}}</td>
            <td>{{element[2]}}</td>
            <td>{{element[3]}}</td>
            <td>{{element[4]}}</td>
            <td>{{element[5]}}</td>
        </tr>
    {% endfor %}

    </table>
    </div>
{% endblock %}